<!-- <hr>


<div class="chat-container">
<div class="prbs">
    <h2>
        listado de palabras
    </h2>
    <div *ngFor="let msg of palabras" #messageDiv>

        <span>{{msg}}</span>
    </div>
    <h3>
        {{nuevaPalabra}}
    </h3>
</div>

        <div class="chat-input">
            
            <input [(ngModel)]="nuevaPalabra" type="text" (keydown.enter)="addPalabra()" placeholder="agrega una nueva palabra">
            <button (click)="addPalabra()" type="submit">Añadir</button>
        </div>
    </div> -->
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body class=" min-h-screen">
    <!-- header con herramientas -->
  <header class=" flex h-13 justify-between border-1 border-b-stone-300">
    <div class="ml-5">
      <p class="font-sans font-bold text-lg h-6">Chat con Agora</p>
      <p class="text-sm text-neutral-500">convierte datos complejos en respuestas claras.</p>
    </div>
    <div class="flex mr-5 justify-between w-20 items-center">
      <button class="rounded-full h-8 w-8 border-1 border-stone-300 cursor-pointer ">
        <i class="bi bi-question-circle text-xl leading-none block"></i>
      </button>
      <button class="rounded-full h-8 w-8 shadow-2xs bg-blue-950 text-white cursor-pointer">
        <i class="bi bi-gear text-xl leading-none block "></i>
      </button>
    </div>
  </header>

  <!-- div principal -->

  <main class=" bg-gray-100 flex items-center justify-center ">
    
      <!-- texto del agente -->
       <div class="absolute top-40">
          <p class="font-sans font-bold text-2xl text-center ">Agente Ágora de SICOE: reportes al instante</p>
          <p class="text-center text-neutral-500 ">solicita analiza y recibe inteligencia operativa en segundos, usando lenguaje natural</p>
       </div>
      <div class="w-full max-w-2xl absolute bottom-10 ">

        <!-- Consejo flotante -->
        <div
          *ngIf="mostrarConsejo"
          class="flex items-center justify-between text-white bg-blue-950 text-sm px-4 py-2 rounded-t-xl"
        >
          <div class="flex items-center space-x-2">
             <i class="bi bi-info-circle-fill text-white text-base"></i>
            <span>Consejo: mientras más claro seas, más preciso será tu reporte.</span>
          </div>

          <button (click)="cerrarConsejo()" class="text-white text-xl leading-none focus:outline-none cursor-pointer ">
            ×
          </button>
        </div>

        <!-- Caja del input -->
        <div
          class="flex items-center border border-gray-300 bg-white rounded-xl px-4 py-3 shadow-sm"
          [ngClass]="{ 'rounded-t-none': mostrarConsejo }"
        >
          <input
            [(ngModel)]="mensaje"
            class="flex-grow outline-none text-gray-800 placeholder-gray-400"
            placeholder="Describe tu consulta... p. ej. *Resumen de logística última semana*"
          />

          <!-- Icono de enviar -->
        <button (click)="enviar()" class="ml-3 text-cyan-600 hover:text-cyan-800 border-l-1 pl-2 cursor-pointer">
    <i class="bi bi-send-fill text-xl"></i>
  </button>
        </div>
      </div>
    </main>
 </body>
  </html>