<hr>


<div class="chat-container">
<div class="prbs">
    <h2>
        listado de palabras
    </h2>
    <div *ngFor="let msg of palabras" #messageDiv>

        <span>{{msg}}</span>
    </div>
    <h3>
        {{nuevaPalabra}}
    </h3>
</div>

        <div class="chat-input">
            
            <input [(ngModel)]="nuevaPalabra" type="text" (keydown.enter)="addPalabra()" placeholder="agrega una nueva palabra">
            <button (click)="addPalabra()" type="submit">Añadir</button>
        </div>
    </div>